{% extends "adminBase.html" %}
{% block title %}Add event{% endblock %}
{% block content %}

<div class="container col-md-7 col-9 mt-4" >
    <h1 class="my-5">Add a new event</h1>
    <form action="/admin/add-events" method = "POST" class="needs-validation" novalidate>
        <div class="row g-3">
            <div class="col-sm-6">
                <label for="EventName" class="form-label">Event Name</label>
                <input type="text" placeholder="Event Name" name="eventName" class="form-control"  required>
                <div class="invalid-feedback">
                  Valid event name is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="Sport" class="form-label">Sport</label>
                <input type="text" name="sport" class="form-control" placeholder="Sports" required>
                <div class="invalid-feedback">
                  Valid sport is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="TeamName" class="form-label">Team</label>
                <select class="form-select" id="team" name="team" required>
                  {% for entry in team %}
                      <option value="{{entry[0]}}">{{entry[1]}} ({{entry[0]}})</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please select a valid Team.
                </div>
            </div>
        </div>
        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
    </form>
</div>

{% endblock %}

