{% extends "admin.html" %}

{% block content %}
<form action="/admin/event/add" method = "POST">
    <legend>Add New Event Stage:</legend>
        <label for="StageID">Stage ID:</label>
        <input type="text" name="stageid" />
        <label for="StageName">Stage Name:</label>
        <input type="text" name="stagename" />
        <label for="Location">Location:</label>
        <input type="text" name="location" />
        <label for="StageDate">Stage Date:</label>
        <input type="date" name="stagedate" />
        <label for="Qualifying">Qualifying:</label>
        <input type="number" name="qualifying" />
        <label for="PointsToQualify">Points to qualify:</label>
        <input type="date" name="stagedate" />
        <button type="submit">Add</button>
</form>

{% endblock %}