{% extends "admin.html" %}

{% block content %}
<form action="/admin/members/add" method = "POST">
        <label for="MemberID">Member ID:</label>
        <input type="text" name="memberid" placeholder="0000" />
        <label for="TeamID">Team ID:</label>
        <select id="teamid" name="teamid">
            {% for entry in teamid %}
                <option value="{{entry[0]}}">{{entry[0]}}</option>
            {% endfor %}
        </select>
        <label for="FirstName">First Name:</label>
        <input type="text" name="firstname" />
        <label for="LastName">Last Name:</label>
        <input type="text" name="lastname" />
        <label for="city">City:</label>
        <input type="text" name="city" />
        <label for="Birthdate">Birthdate:</label>
        <input type="date" name="birthdate" />
        <button type="submit">Add</button>
</form>

{% endblock %}