{% extends "adminBase.html" %}
{% block title %}Add score{% endblock %}
{% block content %}
<div class="container col-md-7 col-9 mt-4" >
    <h1 class="my-5">Add score and position</h1>
    <form action="{{url_for('addScores')}}" method = "POST" class="needs-validation" novalidate>
        <div class="row g-3">
            <div class="col-sm-6">
                <label for="StageName" class="form-label">Event Name - Stage Name (Stage ID)</label>
                <select class="form-select" id="stage" name="stage" required>
                    {% if stage %}
                        {% for entry in stage %}
                        <option value="{{entry[0]}}">{{entry[8]}} - {{entry[1]}} ({{entry[0]}})</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <div class="invalid-feedback">
                    Please select a valid stage.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="Member" class="form-label">Member Name (Member ID)</label>
                <select class="form-select" id="member" name="member" required>
                    {% for entry in member %}
                    <option value="{{entry[0]}}">{{entry[2]}} {{entry[3]}} ({{entry[0]}})</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a valid member.
                </div>
            </div>
            
            <div class="col-sm-6">
                <label for="PointsScored" class="form-label">Points Scored</label>
                <input type="text" name="pointsScored" id="numberInput" class="form-control"  value="" required>
                <div class="invalid-feedback">
                    Please provide a valid number.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="Position" class="form-label">Position</label>
                <input type="number" name="position" min="0" max="3" class="form-control" placeholder="" value="">
            </div>
        </div>

        <hr class="my-4">
        <div class="text-center text-danger mb-4">{{ msg }}</div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
    </form>
</div>

{% endblock %}

