{% extends "admin.html" %}

{% block content %}
<h2>Add a new event stage:</h2>
<form action="/admin/stage/add" method = "POST">
    <legend>Add New Event Stage:</legend>
        <label for="StageName">Stage Name:</label>
        <input type="text" name="stagename" />
        <label for="EventName">Event Name:</label>
        <select id="eventname" name="eventname">
            {% for entry in eventid %}
                <option value="{{entry[0]}}">{{entry[0]}}</option>
            {% endfor %}
        </select>
        <p>* If event is not in the selection list, please add a new event first.</p>
        <label for="Location">Location:</label>
        <input type="text" name="location" />
        <label for="StageDate">Stage Date:</label>
        <input type="date" name="stagedate" />
        <label for="PointsToQualify">Points to qualify:</label>
        <input type="text" name="pointstoquality" />
        <button type="submit">Add</button>
</form>

{% endblock %}