{% extends "admin.html" %}
{% block content %}
<!-- code in here to display a list of events -->
<!-- eventlist is the variable passed in containing list of loans -->

<div class="container">
    <div class="py-5 text-center">
        <h2>Event List</h2>
        <p></p>A list of all NZ Olympic Team events</p>
    </div>

<table class="table table-striped table-hover table-bordered">
    <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>Team Name</th><th>NZ Team ID</th></tr>
    {% for event in eventlist %}
        <tr>
            {% for entry in event %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>

{% endblock %}