<!DOCTYPE html>
    <head>
        <title>Admin</title>
    </head>

    <body>
        <form name="search" id="A">
            <input type="submit" name="name" id="c" />
        </form>

        <section>
            <form name="add" id="B">
                <fieldset id="members">
                    <legend>Add new members and edit the details of existing members</legend>
                </fieldset>
                    
                <fieldset id="events">
                    <legend>Add new events and event_stages</legend>
                </fieldset>

                <fieldset id="scores">
                    <legend>Add scores for an event stage and position for a non-qualifying event stage</legend>
                </fieldset>

            </form>
        </section>

    </body>
</html>