{% extends "admin.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<h2>Member List</h2>
<h3>A list of all NZ Olympic Team members</h3>

<table class="table table-striped table-hover table-bordered">
    <tr><th>Edit</th></th><th>Member ID</th><th>Team Name</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthdate</th></tr>
    {% for entry in memberlist %}
        <tr>
                <td><a href="/admin/members/edit/{{entry[0]}}">Edit</a></td>
                <td>{{entry[0]}}</td>
                <td>{{entry[1]}}</td>
                <td><a href= listmembers/{{entry[2]}}>{{entry[2]}}</td>
                <td>{{entry[3]}}</td>
                <td>{{entry[4]}}</td>
                <td>{{entry[5]}}</td>
                <td>{{entry[6]}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}