{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of events -->
<!-- eventlist is the variable passed in containing list of loans -->

<form action="/admin/results" method="get">
    <fieldset id="search">
        <label for="membersorevents">Search for members or/and events by name:</label>
        <input type="text" name="searchinfo" placeholder="members or events" />
        <button type="submit">Search</button>
    </fieldset>
</form>

<form action="/admin/add" method="post">
    <fieldset id="addmember">
        <label for="MemberID">Member ID:</label>
        <input type="number" name="memberid" placeholder="0000" />
        <label for="TeamID">Team ID:</label>
        <input type="number" name="teamid" placeholder="000" />
        <label for="FirstName">First Name:</label>
        <input type="text" name="firstname" />
        <label for="LastName">Last Name:</label>
        <input type="text" name="lastname" />
        <label for="city">City:</label>
        <input type="text" name="city" />
        <label for="Birthdate">Birthdate:</label>
        <input type="date" name="birthdate" />
        <button type="submit">Add</button>
    </fieldset>
</form>

{% endblock %}