<!DOCTYPE html>
    <head>
        <title>Admin</title>
    </head>

    <body>

        <section>
            <form name="edit" id="edit">
                <fieldset id="search">
                    <label for="membersorevents">Members or events:</label>
                    <input type="search" name="searchinfo" placeholder="members or events" />
                    <button>Search</button>
                </fieldset>

                <fieldset id="members">
                    <legend>Add new members and edit the details of existing members</legend>
                </fieldset>
                    
                <fieldset id="events">
                    <legend>Add new events and event_stages</legend>
                </fieldset>

                <fieldset id="scores">
                    <legend>Add scores for an event stage and position for a non-qualifying event stage</legend>
                </fieldset>

            </form>
        </section>

    </body>
</html>