{% extends "base.html" %}

<!-- code in here to display the athlete interface-->
{% block header %}
<h2>{{ name }}</h2>
{% endblock %}

{% block content %}

<!-- code in here to display the Upcoming Events-->
<h4>Upcoming Events & Stages for {{ name }}'s Team</h4>
    <table class="table table-striped table-hover table-bordered">
        {% if upcomingevents %}
            <tr><th>EventName</th><th>StageDate</th><th>StageName</th><th>Location</th></tr>
            {% for event in upcomingevents %}
                <tr>
                {% for entry in event %}
                    <td>{{entry}}</td>
                {% endfor %}
                </tr>
            {% endfor %} 
        {% else %}
            <p>No upcoming events & stages for {{ name }}'s team.</p>
        {% endif %}
            
    </table>

<!-- code in here to display the previous results-->
<h4>{{ name }}'s Previous Results</h4>
    <table class="table table-striped table-hover table-bordered">
        {% if previousresult %}
            <tr><th>EventName</th><th>StageDate</th><th>StageName</th><th>Location</th><th>Result</th></tr>
            {% for entry in previousresult %}
            <tr>
                <td>{{entry[0]}}</td>
                <td>{{entry[1]}}</td>
                <td>{{entry[2]}}</td>
                <td>{{entry[3]}}</td>
                {% if entry[4] == 1 and entry[6] != None %}
                    {% if entry[5] >= entry[6] %}
                        <td>Q</td>
                    {% elif entry[6] > entry[5] %}
                        <td>Not Qualified</td>
                    {% endif %}
                {% elif entry[4] == 0 %}
                    {% if entry[7] == 1 %}
                        <td>Gold</td>
                    {% elif entry[7] == 2 %}
                        <td>Silver</td>
                    {% elif entry[7] == 3 %}
                        <td>Bronze</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            <p>No previous results for {{ name }}. </p>   
        {% endif %}
    </table>
{% endblock %}