{% extends "base.html" %}

{% block header %}
<h2>{{ name }}</h2>
{% endblock %}

{% block content %}
<h4>Upcoming Events & Stages</h4>
    <table class="table">
        <tr><th>EventName</th><th>StageDate</th><th>StageName</th><th>Location</th></tr>
        {% for event in eventinfo %}
            <tr>
            {% for entry in event %}
                <td>{{entry}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

<h4>Previous Results</h4>
    <table class="table">
        <tr><th>EventName</th><th>StageDate</th><th>StageName</th><th>Location</th><th>PointsScored</th></tr>
        {% for athlete in athleteinfo %}
        <tr>
        {% for entry in athlete %}
            <td>{{entry}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}