{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of events -->
<!-- eventlist is the variable passed in containing list of loans -->
<h2>Event List</h2>
<h3>A list of all NZ Olympic Team events</h3>

<table>
    <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>NZ Team</th></tr>
    {% for event in eventlist %}
        <tr>
            {% for entry in event %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}