{% extends "admin.html" %}

<!-- code in here to display a list of search results in events -->
{% block header %}
<h2 class="text-center mt-4">{{ name }}</h2>
{% endblock %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <h2>Search results in events</h2>
    </div>
    {% if eventresults %}
        <table class="table table-striped table-hover">
            <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>Team ID</th></tr>
            {% for event in eventresults %}
            <tr>
            {% for item in event %}
                <td>{{item}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
</div>
    {% else %}
        <p class="text-center">Couldn't find an event that contains '{{ name }}' in its name.</p>
    {% endif %}

{% endblock %}
