{% extends "adminBase.html" %}
{% block title %}Scores{% endblock %}
{% block content %}
<!-- code in here to display a list of events stage results-->
<!-- eventlist is the variable passed in containing list of loans -->

<div class="container">
    <div class="py-5 text-center">
        <h1>New Zealand Winter Olympics Event Stage Results</h1>
        <p>A list of all NZ Olympics event stages results</p>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <tr><th>Result ID</th><th>Event Name</th><th>Stage Name</th><th>Stage ID</th><th>Member Name</th><th>Member ID</th><th>Points Scored</th><th>Position</th></tr>
        {% for entry in scoreList %}
            <tr>
                <td>{{entry[0]}}</td>
                <td>{{entry[1]}}</td>
                <td>{{entry[2]}}</td>
                <td>{{entry[3]}}</td>
                <td>{{entry[4]}} {{entry[5]}}</td>
                <td>{{entry[6]}}</td>
                <td>{{entry[7]}}</td>
                <td>{{entry[8]}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}