{% extends "base.html" %}
{% block title %}Members{% endblock %}
{% block content %}
<!-- code in here to display a list of members-->

<div class="container">
    <div class="pt-5 text-center">
        <h2>New Zealand Winter Olympics Team Members</h2>
        <p>A list of all NZ Winter Olympics team members</p>
    </div>

    <table class="table table-striped table-hover table-bordered mt-5">
        <tr><th>Member ID</th><th>Team</th><th>Full Name</th><th>City</th><th>Birthdate</th></tr>
        {% for member in memberList %}
            <tr>
                <td>{{ member[0] }}</td>
                <td>{{ member[1] }}</td>
                <td><a href = "/members/{{ member[0] }}">{{ member[2] }} {{ member[3] }}</a></td>
                <td>{{ member[4] }}</td>
                <td>{{ member[5] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}