{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block content %}

<div class="container mt-5">
    <h1><strong>{{ name }}</strong></h1>
    <hr />

    <!-- code in here to display the Upcoming Events-->
    <h2 class="fs-4">Upcoming Events & Stages</h2>
    <table class="table table-striped table-hover table-bordered mt-3">
        {% if upcomingEvents %}
            <tr><th>Event</th><th>Sport</th><th>Stage Date</th><th>Stage Name</th><th>Location</th></tr>
            {% for event in upcomingEvents %}
                <tr>
                {% for entry in event %}
                    <td>{{entry}}</td>
                {% endfor %}
                </tr>
            {% endfor %} 
        {% else %}
            <p class="text-center">No upcoming events & stages for {{ name }}'s team.</p>
        {% endif %}    
    </table>

    <!-- code in here to display the previous results-->
    <h2 class="fs-4 mt-5">Previous Results</h2>
    <table class="table table-striped table-hover table-bordered mt-3">
        {% if previousResult %}
            <tr><th>Event</th><th>Sport</th><th>Stage Date</th><th>Stage Name</th><th>Location</th><th>Result</th></tr>
            {% for entry in previousResult %}
            <tr>
                <td>{{entry[0]}}</td>
                <td>{{entry[1]}}</td>
                <td>{{entry[2]}}</td>
                <td>{{entry[3]}}</td>
                <td>{{entry[4]}}</td>
                {% if entry[5] == 1 and entry[7] != None %}
                    {% if entry[6] >= entry[7] %}
                        <td>Q</td>
                    {% elif entry[7] > entry[6] %}
                        <td>Not Qualified</td>
                    {% endif %}
                {% elif entry[5] == 0 %}
                    {% if entry[8] == 1 %}
                        <td>Gold</td>
                    {% elif entry[8] == 2 %}
                        <td>Silver</td>
                    {% elif entry[8] == 3 %}
                        <td>Bronze</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            <p class="text-center">No previous results for {{ name }}. </p>   
        {% endif %}
    </table>

</div>
{% endblock %}