{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of members-->
<h2>Member List</h2>
<h3>A list of all NZ Olympic Team members</h3>

<table class="table table-striped table-hover table-bordered">
    <tr><th>Member ID</th><th>Team Name</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthdate</th></tr>
    {% for member in memberlist %}
        <tr>
            {% for entry in member %}
                <td>
                    {% if loop.index0 != 2 %}
                        {{entry}}
                    {% else %}
                        <a href = "/listmembers/{{ entry }}">{{ entry }}</a>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}