{% extends "admin.html" %}

<!-- code in here to display a page with search bars-->
{% block header %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title">Search for members and events in one click</h4>
          <form action="/admin/results" method="get">
            <div class="input-group mb-3">
              <input type="text" name="searchinfo" class="form-control" placeholder="Search...">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title">Search just for members</h4>
          <form action="/admin/results" method="get">
            <div class="input-group mb-3">
              <input type="text" name="searchmember" class="form-control" placeholder="Search...">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title">Search just for events</h4>
          <form action="/admin/results" method="get">
            <div class="input-group mb-3">
              <input type="text" name="searchevent" class="form-control" placeholder="Search...">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

