{% extends "admin.html" %}

<!-- code in here to display a page with search bars-->
{% block header %}

<div class="container">
<div class="py-5 text-center">
    <h4>Search for members or/and events in one click:</h4>
</div>
<form action="/admin/results" method="get" class="row g-3 justify-content-center">
    <div class="col-auto">
        <label for="membersorevents" >Input the name:</label>  
      <input type="text" name="searchinfo" class="form-control" placeholder="Search...">
    </div>
    <div class="form-group col-md-2 align-self-end">
      <button class="btn btn-primary" id="btn" name="btn" type="submit">Submit</button>
    </div>
</form>
</div>

<div class="container">
<div class="py-5 text-center">
    <h4>Search just for members:</h4>
</div>
<form action="/admin/results" method="get" class="row g-3 justify-content-center">
    <div class="col-auto">
        <label for="member" >Input the name:</label>   
      <input type="text" name="searchmember" class="form-control" placeholder="Search...">
    </div>
    <div class="form-group col-md-2 align-self-end">
      <button class="btn btn-primary" id="btn" name="btn" type="submit">Submit</button>
    </div>
  </form>
</div>

<div class="container">
<div class="py-5 text-center">
    <h4>Search just for events:</h4>
</div>
<form action="/admin/results" method="get" class="row g-3 justify-content-center">
    <div class="col-auto">
        <label for="event" >Input the name:</label>   
      <input type="text" name="searchevent" class="form-control" placeholder="Search...">
    </div>
    <div class="form-group col-md-2 align-self-end">
      <button class="btn btn-primary" id="btn" name="btn" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>

{% endblock %}

